@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-tag {
    @apply text-xs font-bold font-raleway;
  }

  .text-title-s {
    @apply text-lg font-bold font-anybody;
  }

  .text-title-m {
    @apply text-2xl font-bold font-anybody;
  }

  .text-title-l {
    @apply text-3xl font-bold font-anybody;
  }

  .text-title-xl {
    @apply text-4xl font-bold font-anybody;
  }

  .text-title-xxl {
    @apply text-5xl font-bold font-anybody;
  }

  .text-body {
    @apply text-base font-anybody;
  }

  .text-subtitle {
    @apply text-xl font-anybody;
  }

  .text-note {
    @apply text-xs font-anybody;
  }

  .cta-ghost {
    @apply text-body font-anybody text-center text-sm relative text-black after:content-[''] after:absolute after:h-0.5 after:w-full after:scale-x-0 after:bg-red-500 after:transition-transform after:bottom-0 after:left-0 hover:after:scale-x-100 after:origin-right hover:after:origin-left;
  }

  .underline-animate {
    @apply relative after:content-[''] after:absolute after:h-0.5 after:w-full after:scale-x-0 after:bg-red-500 after:transition-transform after:bottom-0 after:left-0 hover:after:scale-x-100 after:origin-right hover:after:origin-left;
  }

  .underline-animate-active {
    @apply after:scale-x-100 after:origin-left;
  }

  .main-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 bg-black lg:bg-white gap-[1px] border-y-[1px] border-black lg:border-white;

    /* first child  */
    & > div:first-child {
      @apply lg:col-span-12 lg:min-h-[50vh];
    }

    /* second child  */
    & > div:nth-child(2) {
      @apply lg:col-span-8 lg:row-span-2;
    }

    /* third child  */
    & > div:nth-child(3) {
      @apply lg:col-span-4 lg:row-span-1;
    }

    /* fourth child  */
    & > div:nth-child(4) {
      @apply lg:col-span-4 lg:row-span-1;
    }
  }

  .secondary-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 bg-black lg:bg-white gap-[1px] border-y-[1px] border-black lg:border-white;

    /* first child  */
    & > div:first-child {
      @apply lg:col-span-4 lg:min-h-[50vh];
    }

    /* second child  */
    & > div:nth-child(2) {
      @apply lg:col-span-4 lg:min-h-[50vh];
    }

    /* third child  */
    & > div:nth-child(3) {
      @apply lg:col-span-4 lg:min-h-[50vh];
    }

    /* fourth child  */
    & > div:nth-child(4) {
      @apply lg:col-span-4 lg:min-h-[50vh];
    }

    /* fifth child  */
    & > div:nth-child(5) {
      @apply lg:col-span-8 lg:min-h-[50vh];
    }
  }

  .third-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 bg-black lg:bg-white gap-[1px] border-y-[1px] border-black lg:border-white;

    /* first child  */
    & > div:first-child {
      @apply lg:col-span-12 lg:min-h-[50vh] lg:row-span-2;
    }

    /* second child  */
    & > div:nth-child(2) {
      @apply lg:col-span-3 lg:min-h-[50vh] lg:row-span-2;
    }

    /* third child  */
    & > div:nth-child(3) {
      @apply lg:col-span-3 lg:min-h-[50vh] lg:row-span-2;
    }

    /* fourth child  */
    & > div:nth-child(4) {
      @apply lg:col-span-3 lg:min-h-[50vh] lg:row-span-2;
    }

    /* fifth child  */
    & > div:nth-child(5) {
      @apply lg:col-span-3 lg:min-h-[50vh] lg:row-span-2;
    }

    /* sixth child  */
    & > div:nth-child(6) {
      @apply lg:col-span-3 lg:row-span-1;
    }

    /* seventh child  */
    & > div:nth-child(7) {
      @apply lg:col-span-3 lg:row-span-1;
    }

    /* eighth child  */
    & > div:nth-child(8) {
      @apply lg:col-span-6 lg:row-span-2;
    }

    /* ninth child  */
    & > div:nth-child(9) {
      @apply lg:col-span-3 lg:row-span-1;
    }

    /* tenth child  */
    & > div:nth-child(10) {
      @apply lg:col-span-3 lg:row-span-1;
    }
  }
}
